@use './params.scss';
@use './app.scss';

$bottom-panel-height: 200px;

* {
    flex-shrink: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    // outline: 1px solid red;
    position: relative;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: white;
}

#container {
    width: 0;
    flex-grow: 1;
}

#canvas {
    height: 100%;
    width: 100%;
}

#panel-left {
    width: 300px;
    padding: 20px;
}

.top-container {
    display: flex;
    width: 100%;
    height: calc(100% - 200px);
    position: relative;
    align-items: stretch;
}

.black {
    height: params.$side;
    width: params.$side;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face{
    display: flex;
    width: params.$side * 3;
    flex-wrap: wrap;
    margin: 8px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 0 0 rgba(white,.1);
    &.empty { box-shadow: none; }
}

.decal{
    height: params.$side - 6px;
    width: params.$side - 6px;
    border-radius: 2px;
}

.bottom-panel {
    display: flex; 
    height: $bottom-panel-height; 
    align-items: center;
    overflow: hidden;
}

.all-container {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    width: 100%;
}

.face-topology {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.2); 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}