$black: #1d2230;

#modal-screen {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  padding: 8px;
  padding-top: 16px;
  padding-right: 16px;
  position: absolute; 
  left: 0; 
  top: 0;
}

.modal-body {
  height: 100%; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#modal {
  height: 100%;
  width: 100%;
  text-align:center;
  z-index: 1;
  background: #fafafc;

  #won-start-over{
    * { color: white; }
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s;
    display: inline-block;
    width: 200px;
    z-index: 1;
    position: relative;
    font-size: 28px;
    letter-spacing: 1;
  }


  .demo-limelight {
    height: calc(100% - 100px); // NOTE: this must match faux container
    width: 100%;
    align-self: center; 
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
  }

  #faux-container {
    height: calc(100% - 100px);
    width: calc(100% - 180px);
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #demo-container{
    height: 100%;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    perspective: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #demo-instruction1, #demo-instruction2{
    transition: .3s;
    position: absolute;
  }

  #cursor{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 2;
  }

  @keyframes drag{
    100%{transform: translateY(60px);}
  }

  @keyframes emphasis{
    50%{transform: translateX(30%)}
  }

  .demo-face{
    transform-style: preserve-3d;
  }

  .demo-pip{
      transform-style: preserve-3d;
  }


  @keyframes appear{
      0%{transform: scale(0)}
  }

}


#menu-modal {
  button {
    font-weight: 300;
    transition: .3s;
    background: none;
    font-size: 28px;
    color: $black;
    margin: 6px;
    box-shadow: none;
    text-shadow: none;

    &:hover {
      color: rgb(0, 166, 255);
    }
  }
}

.instructions-container {
  width: 100%; 
  display: flex;
  justify-content: center; 
  height: 100px; 
  align-items: center;
  font-size: 24px;
  color: #5e5b61;
  font-weight: 300;
  letter-spacing: .8;
}

#won-start-over {
  margin-top: 24px;
}

#demo-next-button, #demo-prev-button {
  transition: color .3s;
  background: none;
  font-size: 96px;
  box-shadow: none;
  color: $black;
  &:disabled {
    color: transparent;
  }
}