$s: 150px;


#modal-screen {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  padding: 8px;
  padding-top: 16px;
  padding-right: 16px;
  position: absolute; 
  left: 0; 
  top: 0;
}

.modal-body {
  height: 100%; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#modal {
  height: 100%;
  width: 100%;
  text-align:center;
  z-index: 1;
  background: #fafafc;

  #demo-next-button, #won-start-over{
    * { color: white; }
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s;
    display: inline-block;
    width: 200px;
    z-index: 1;
    position: relative;
    font-size: 28px;
    letter-spacing: 1;
  }

  #demo-next-button span{
    display: inline-block;
  }

  #demo-next-button:hover span{
    animation-name: emphasis;
    animation-duration: .6s;
    animation-iteration-count: infinite;
  }

  #demo-container{
    height: $s;
    width: $s;
    margin: auto;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    perspective: 800px;
  }

  #demo-instruction1, #demo-instruction2{
    transition: .3s;
    position: absolute;
  }

  #demo-cube{
    position: relative;
    left: 0;
    height: $s;
    width: $s;
    transform-origin: $s/2 $s/2 -$s/2;
    transform-style: preserve-3d;
    transform: rotateX(-35.264deg)rotateY(-45deg)translateZ($s/2);
  }


  .demo-pip{
    height: $s/3;
    width: $s/3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
      content: '';
      display: block;
      height: 85%;
      width: 85%;
      background: rgb(29, 34, 48);
      border-radius: 4px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border: 1px solid transparent;
    }
    &.active::after {
      background: pink;
    }
  }

  .demo-face{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #cursor{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 2;
  }

  @keyframes drag{
    100%{transform: translateY(60px);}
  }

  @keyframes emphasis{
    50%{transform: translateX(30%)}
  }

  .demo-face{
    transform-style: preserve-3d;
  }

  .demo-limelight {
    height: 250px; 
    width: 250px; 
    // background: linear-gradient(to bottom, #555, black);
    // box-shadow: 0 0 5px 1px rgba(0,0,0,.4);
    align-self: center; 
    border-radius: 50%
  }

  .demo-pip{
      transform-style: preserve-3d;
  }


  @keyframes appear{
      0%{transform: scale(0)}
  }

}


#menu-modal {
  button {
    background: none;
    font-size: 20px;
    color: black;
    margin: 6px;
  }
}

.instructions-container {
  width: 100%; 
  display: flex;
  justify-content: center; 
  height: 100px; 
  align-items: center;
  font-size: 24px;
  color: #5e5b61;
  font-weight: 300;
  letter-spacing: .8;
}

#won-start-over {
  margin-top: 24px;
}